@import "screen";
@import "fonts";

html, body {
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke:1px transparent;
	-webkit-backface-visibility: hidden;
	font-weight: 100;
	line-height: 1.125;
}

.left-panel {
	width: 320px;
	background: #24B2AA;
	text-align: right;
	height: 100%;
	padding-right: 50px;
	color: #fff;
	position: fixed;
}
header {
	overflow: hidden;
	margin: 50px 0 70px 20px;
	img{
		float: left;
	}

	h1 {
		float: right;
		font-size: 30px;
		position: relative;
		top: 43px;
		
	}

}
nav {
	a {
		display: block;
		position: relative;
		margin-bottom: 15px;
		margin-right: 10px;

		&:after {
			content: '>';
			font-size: 9px;
			position: absolute;
			top: 2px;
			margin-left: 5px;
		}
	}
}

main {
	position: absolute;
	left: 370px;
	right: 0;
	overflow: scroll;
	height: 100%;
}

section {
	padding: 0 50px;
	/*max-width: 800px;*/
}

.home {
	
	color: #fff;
	position: relative;
	box-sizing: border-box;
	padding-top: 260px;
	/*background: url(../images/bkg-home.jpg);*/
	background: url(../assets/images/bkg-home.png);

	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
    height: 100%;
    max-height: 600px;
    min-height: 600px;

	h2 {
		font-size: 45px;
		max-width: 680px;
	}

	h5 {
		margin: 0 0 10px 0;
		font-size: 20px;
		font-weight: 400;
	}

	a + a {
		margin-left: 15px;
	}

}

.resume {
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 1.6;
	
	.title-section {
    	color: #000;
    }

	h3 {
		font-size: 27px;
		color: #8C6115;
		margin-bottom: 45px;

	}

	p {
		font-family: Tahoma, Geneva, sans-serif;
		color: #999;
	}

	p + p {
		margin-top: 15px;
	}
}

.skills {
	color: #fff;
	padding-bottom: 50px;
	padding-top: 50px;
	/*height: 764px;*/
	position: relative;
	background: url(../assets/images/bkg-skills.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	ul {
		margin-right: -3%;
		margin-bottom: -3%;
	}

    li {
    	background: rgba(102,102,102,0.8);
    	background-clip: padding-box;
    	border: solid 10px rgba(256, 256, 256, 0.4);
    	border-radius: 50%;
    	display: inline-block;
    	margin: 0 3% 3% 0;
    	text-align: center;
    	vertical-align: middle;
    	cursor: default;
    	width: 14%;
    	box-sizing:border-box;
    	position: relative;
		min-width: 150px;
		padding: 1%;
		vertical-align: top;
		transition: transform 0.5s ease-out;
		
		&:hover,
		&.animation {
    		background: rgba(256,256,256,0.4);
    		background-clip: padding-box;
    		border-color: rgba(102,102,102,0.4);
    		font-weight: bold;
			transform: perspective( 200px ) rotateY( 180deg );

			& span{
				transform: translateY(-50%) rotateY(-180deg) perspective(600px);
			}

		}

		&:before {
		    content: '';
		    display: block;
		    padding: 50% 0;
		}

    	span {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			display: block;
			font-size: 0.9em;
    	}
    }

    /*.big {
		height: 130px;
    	width: 130px;
    }

   .medium {
		height: 100px;
    	width: 100px;
   }

   .small {
		height: 70px;
    	width: 70px;
   }*/

}

.contact {
	background: #D9B744;
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 300px;
	color: #fff;
	i {
		position: absolute;
	}

	h2 {
		color: #fff;
	}
	
	ul {
		text-align: center;
		position: relative;
	}
	
	li {

		position: absolute;

		i {
			margin: auto;
			width: 100px;
			height: 100px;
			border: solid 1px #fff;
			display: block;
			position: relative;
			border-radius: 50%;
			text-align: center;
			margin-bottom: 20px;

			&:before {
				position: absolute;
				left: 0;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&:first-child {
			left: 50px;
		}
		
		&:nth-child(2) {
			/*position: static;*/
			left: 50%;
    		transform: translateX(-50%);
		}

		&:last-child {
			right: 50px;
			top: 0;
			p + p {
				position: absolute;
				text-indent: -50px;
			}
		}
    }
}

footer {
	padding: 50px;

	p {
		font-size: 21px;
	}

}
.title-section {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
    letter-spacing: 0.12em;

	&:after {
		content:'';
		border-bottom: solid 5px #E6E6E6;
		width: 60px;
		display: block;
		margin-top: 10px;
	}

} 

.icon-icon-li:hover {
	color: #297CB2;
}

.icon-icon-tw:hover {
	color: #63AEEB;
}

.icon-icon-github:hover:before {
	background: #000;
}

.icon-icon-profile:hover {
	color: #666;
}

@media screen and (max-width: 960px) {
	
	body {
		overflow: auto;
	}

	.left-panel {
		width: auto;
		padding: 20px 10px;
		position: static;
		height: auto;

		header {
			margin: 0;
		}

		.main-nav {
			margin-top: 20px;

			a {
				display: inline-block;
				margin-bottom: 0;
			}
		}

		&.fixed {
			position: fixed;
			z-index: 1;
			left: 0;
			right: 0;
			top: -165px;

			& + main {
			    margin-top: 217px;
			}
		}
	}

	main {
		position: static;
		overflow: auto;
		height: auto;
	}

	.home {
		padding-top: 50px;
		padding-bottom: 50px;
		height: auto;
		min-height: auto;
	}

	.skills ul {
		text-align: center;

		li {
			margin: 0 10% 10% 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.contact li {
		&:first-child {
			left: 0;
		}

		&:last-child {
			right: 15px;
		}
	}
}
@media screen and (max-width: 480px) { 

	.contact li {
		position: static;
		margin-bottom: 30px;

		&:nth-child(2) {
			transform: initial;
		}

		&:nth-child(3) {
			margin-bottom: 0;
			p + p {
				position: static;
				text-indent: 0;
			}
		}

		i {
			margin: 0 auto 20px;
		}
	}
}