/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?je0s6o");
  src: url("../assets/fonts/icomoon.eot?#iefixje0s6o") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf?je0s6o") format("truetype"), url("../assets/fonts/icomoon.woff?je0s6o") format("woff"), url("../assets/fonts/icomoon.svg?je0s6o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0;
  color: #fff;
}

/* line 28, ../sass/fonts.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-size: 40px;
}

/* line 32, ../sass/fonts.scss */
.icon-icon-location:before {
  content: "\e947";
}

/* line 35, ../sass/fonts.scss */
.icon-icon-phone:before {
  content: "\e958";
}

/* line 38, ../sass/fonts.scss */
.icon-icon-tw:before {
  content: "\ea92";
}

/* line 41, ../sass/fonts.scss */
.icon-icon-li:before {
  content: "\eac8";
}

/* line 44, ../sass/fonts.scss */
.icon-icon-mail:before {
  content: "\e600";
}

/* line 47, ../sass/fonts.scss */
.icon-icon-profile:before {
  content: "\e923";
}

/* line 51, ../sass/fonts.scss */
.icon-icon-github:before {
  content: "\e602";
  background-color: #fff;
  color: #efb972;
  border-radius: 5px;
}

/* line 4, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 8, ../sass/styles.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 13, ../sass/styles.scss */
body {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  line-height: 1.125;
}

/* line 20, ../sass/styles.scss */
.left-panel {
  width: 320px;
  background: #24B2AA;
  text-align: right;
  height: 100%;
  padding-right: 50px;
  color: #fff;
  position: fixed;
}

/* line 29, ../sass/styles.scss */
header {
  overflow: hidden;
  margin: 50px 0 70px 20px;
}
/* line 32, ../sass/styles.scss */
header img {
  float: left;
}
/* line 36, ../sass/styles.scss */
header h1 {
  float: right;
  font-size: 30px;
  position: relative;
  top: 43px;
}

/* line 46, ../sass/styles.scss */
nav a {
  display: block;
  position: relative;
  margin-bottom: 15px;
  margin-right: 10px;
}
/* line 52, ../sass/styles.scss */
nav a:after {
  content: '>';
  font-size: 9px;
  position: absolute;
  top: 2px;
  margin-left: 5px;
}

/* line 62, ../sass/styles.scss */
main {
  position: absolute;
  left: 370px;
  right: 0;
  overflow: scroll;
  height: 100%;
}

/* line 70, ../sass/styles.scss */
section {
  padding: 0 50px;
  /*max-width: 800px;*/
}

/* line 75, ../sass/styles.scss */
.home {
  color: #fff;
  position: relative;
  box-sizing: border-box;
  padding-top: 260px;
  /*background: url(../images/bkg-home.jpg);*/
  background: url(../assets/images/bkg-home.png);
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  height: 100%;
  max-height: 600px;
  min-height: 600px;
}
/* line 90, ../sass/styles.scss */
.home h2 {
  font-size: 45px;
}
/* line 94, ../sass/styles.scss */
.home h5 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 400;
}
/* line 100, ../sass/styles.scss */
.home a + a {
  margin-left: 15px;
}

/* line 106, ../sass/styles.scss */
.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 1.6;
}
/* line 111, ../sass/styles.scss */
.resume .title-section {
  color: #000;
}
/* line 115, ../sass/styles.scss */
.resume h3 {
  font-size: 27px;
  color: #8C6115;
  margin-bottom: 45px;
}
/* line 122, ../sass/styles.scss */
.resume p {
  font-family: Tahoma;
  color: #999;
}
/* line 127, ../sass/styles.scss */
.resume p + p {
  margin-top: 15px;
}

/* line 132, ../sass/styles.scss */
.skills {
  color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
  /*height: 764px;*/
  position: relative;
  background: url(../assets/images/bkg-skills.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    /*.big {
		height: 130px;
    	width: 130px;
    }

   .medium {
		height: 100px;
    	width: 100px;
   }

   .small {
		height: 70px;
    	width: 70px;
   }*/
}
/* line 142, ../sass/styles.scss */
.skills ul {
  margin-right: -3%;
  margin-bottom: -3%;
}
/* line 147, ../sass/styles.scss */
.skills li {
  background: rgba(102, 102, 102, 0.8);
  background-clip: padding-box;
  border: solid 10px rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-block;
  margin: 0 3% 3% 0;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  width: 14%;
  box-sizing: border-box;
  position: relative;
  min-width: 150px;
  padding: 1%;
  vertical-align: top;
  transition: transform 0.5s ease-out;
}
/* line 165, ../sass/styles.scss */
.skills li.animation {
  background: rgba(255, 255, 255, 0.4);
  background-clip: padding-box;
  border-color: rgba(102, 102, 102, 0.4);
  font-weight: bold;
  transform: perspective(200px) rotateY(180deg);
}
/* line 172, ../sass/styles.scss */
.skills li.animation span {
  transform: translateY(-50%) rotateY(-180deg) perspective(600px);
}
/* line 178, ../sass/styles.scss */
.skills li:before {
  content: '';
  display: block;
  padding: 50% 0;
}
/* line 184, ../sass/styles.scss */
.skills li span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: block;
  font-size: 0.9em;
}

/* line 212, ../sass/styles.scss */
.contact {
  background: #D9B744;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 300px;
  color: #fff;
}
/* line 218, ../sass/styles.scss */
.contact i {
  position: absolute;
}
/* line 222, ../sass/styles.scss */
.contact h2 {
  color: #fff;
}
/* line 226, ../sass/styles.scss */
.contact ul {
  text-align: center;
  position: relative;
}
/* line 231, ../sass/styles.scss */
.contact li {
  position: absolute;
}
/* line 235, ../sass/styles.scss */
.contact li i {
  margin: auto;
  width: 100px;
  height: 100px;
  border: solid 1px #fff;
  display: block;
  position: relative;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
}
/* line 246, ../sass/styles.scss */
.contact li i:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 255, ../sass/styles.scss */
.contact li:first-child {
  left: 50px;
}
/* line 259, ../sass/styles.scss */
.contact li:nth-child(2) {
  /*position: static;*/
  left: 50%;
  transform: translateX(-50%);
}
/* line 265, ../sass/styles.scss */
.contact li:last-child {
  right: 50px;
  top: 0;
}
/* line 268, ../sass/styles.scss */
.contact li:last-child p + p {
  position: absolute;
  text-indent: -50px;
}

/* line 276, ../sass/styles.scss */
footer {
  padding: 50px;
}
/* line 279, ../sass/styles.scss */
footer p {
  font-size: 21px;
}

/* line 284, ../sass/styles.scss */
.title-section {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 0.12em;
}
/* line 290, ../sass/styles.scss */
.title-section:after {
  content: '';
  border-bottom: solid 5px #E6E6E6;
  width: 60px;
  display: block;
  margin-top: 10px;
}

/* line 300, ../sass/styles.scss */
.icon-icon-li:hover {
  color: #297CB2;
}

/* line 304, ../sass/styles.scss */
.icon-icon-tw:hover {
  color: #63AEEB;
}

/* line 308, ../sass/styles.scss */
.icon-icon-github:hover:before {
  background: #000;
}

/* line 312, ../sass/styles.scss */
.icon-icon-profile:hover {
  color: #666;
}

@media screen and (max-width: 960px) {
  /* line 318, ../sass/styles.scss */
  body {
    overflow: auto;
  }

  /* line 322, ../sass/styles.scss */
  .left-panel {
    width: auto;
    padding: 20px 10px;
    position: static;
    height: auto;
  }
  /* line 328, ../sass/styles.scss */
  .left-panel header {
    margin: 0;
  }
  /* line 332, ../sass/styles.scss */
  .left-panel .main-nav {
    margin-top: 20px;
  }
  /* line 335, ../sass/styles.scss */
  .left-panel .main-nav a {
    display: inline-block;
    margin-bottom: 0;
  }
  /* line 341, ../sass/styles.scss */
  .left-panel.fixed {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: -165px;
  }
  /* line 348, ../sass/styles.scss */
  .left-panel.fixed + main {
    margin-top: 217px;
  }

  /* line 354, ../sass/styles.scss */
  main {
    position: static;
    overflow: auto;
    height: auto;
  }

  /* line 360, ../sass/styles.scss */
  .home {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    min-height: auto;
  }

  /* line 367, ../sass/styles.scss */
  .skills ul {
    text-align: center;
  }
  /* line 370, ../sass/styles.scss */
  .skills ul li {
    margin: 0 10% 10% 0;
  }
  /* line 373, ../sass/styles.scss */
  .skills ul li:last-child {
    margin-bottom: 0;
  }

  /* line 380, ../sass/styles.scss */
  .contact li:first-child {
    left: 0;
  }
  /* line 384, ../sass/styles.scss */
  .contact li:last-child {
    right: 15px;
  }
}
@media screen and (max-width: 480px) {
  /* line 391, ../sass/styles.scss */
  .contact li {
    position: static;
    margin-bottom: 30px;
  }
  /* line 395, ../sass/styles.scss */
  .contact li:nth-child(2) {
    transform: initial;
  }
  /* line 399, ../sass/styles.scss */
  .contact li:nth-child(3) {
    margin-bottom: 0;
  }
  /* line 401, ../sass/styles.scss */
  .contact li:nth-child(3) p + p {
    position: static;
    text-indent: 0;
  }
  /* line 407, ../sass/styles.scss */
  .contact li i {
    margin: 0 auto 20px;
  }
}
